<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container armadoPc-wrapper-home">
        <div class="row">
          <div class="col-12">
          
       <figure class="banner-cfa-pcArmadas col-12">
           <img src="/images/cfa_banner_pcarmadas.png" alt="banner pc-armadas">
       </figure>
          </div>
            
          <% combos.forEach(combo => { %>
            <div class="homediv-home col-12 col-md-6 col-lg-3">
              <section class="product-box-home">
                <a href="/armadoPc/comboSeleccionado/<%- combo.id %>">
                  <figure class="product-box_image-home">
                    <img src="/images/<%= combo.image %>" alt="imagen de producto">
                  </figure>
                  <article class="product-box-title-pc">
                    <h2><%= combo.name %></h2> 
                  </article>
                </a>
              </section>
            </div>
          <% }) %>
    
        </div>
        
      </div>

    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>