<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0">
    <body>
        <%- include('partials/header.ejs') %>
            <div class="container total">
                <div>
                    <h1 class="carrito">Mi carrito</h1>
                </div>
                <div class="table-container">
                    <div class="row">
                   
                    <div class=" table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <% carrito.forEach(product => { %>
                                <tr>
                                    <th>
                                        <div class="image"><img class="primer" src="/images/<%- product.product.image %>" alt="placeholder"></div>
                                    </th>
                                    <th>
                                        <div class="content"><%= product.product.name %></div>
                                    </th>
                                    <th>$<%= product.product.price %></th>
                                    <th>
                                        
                                    </th>
                                    <th class="last"> 
                                        <form action="/productos/carrito/delete/<%= product.id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger btn-sm">X</button>
                                        </form>
                                        
                                    </th>
                                </tr>
                            <% }) %>
                            
                       
    
                        
                        
                       
                          
    
                            <tr>
                                <th><a class="btn btn-outline-primary" href="/productos">Seguir comprando</a></th>
                                <th>
                                    <div class="content total">Total:</div>
                                </th>
                                <th>$<%= total %></th>
                                <th class="last"><button type="button" class="btn btn-outline-secondary">Comprar</button></th>
                                </th>       
                            </tr>
                        </thead>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
      

            

            <%- include('partials/footer.ejs') %>
    </body>

</html>