<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0">
    <body>
        <%- include('partials/header.ejs') %>
            <div class="container total">
                <div>
                    <h1 class="carrito"><%- productCombo[0].name %></h1>
                </div>
                <div class="table-container" style="-webkit-filter: drop-shadow(8px 8px 10px gray);
                filter: drop-shadow(8px 8px 10px gray);">
                    <div class="row">
                   
                    <div class=" table-responsive">
                    <table class="table table-sm">
                        <thead>
                            
                            <% productCombo[0].products.forEach(product => { %>
                            <tr>
                                <th>
                                    <div class="image"><img class="primer" src="/images/<%- product.image %>" alt="placeholder"></div>
                                </th>
                                <th>
                                    <div class="content"><%- product.name %></div>
                                </th>
                                <th>$<%- product.price %></th>     
                            </tr>
                            <% }) %>
                            <tr>
                                <th><button type="button" class="btn btn-outline-primary">Seguir comprando</button></th>
                                <th class="last"> <button type="button" class="btn btn-outline-secondary">Comprar</button></th>
                                <th>
                                    <div class="content total">Total:</div>
                                </th>
                                <th></th>
                                
        
                            </tr>
                        </thead>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
      

            

            <%- include('partials/footer.ejs') %>
    </body>

</html>