<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>

    <%- include('partials/header.ejs') %>

      <div class="container">

        <div class="container form">
          <div class="col-md-12 text-center">
            <form class="container login" action="" method="POST" id="formulario">
              <h1>Iniciar Sesion</h1>
              

              <input name="email" type="text" id="Email"  value="<%= (typeof data!='undefined' && data.email)?data.email : "" %>" placeholder="Ingresa Email" >
              <p id="errorEmail" class="text-danger"><%= (typeof errores!='undefined' && errores.email)?errores.email.msg : "" %></p>

              <input name="pass" type="password" id="Password" value="<%= (typeof data!='undefined' && data.pass)?data.pass : "" %>"placeholder="Ingresa Password" >
              <p id="errorPassword" class="text-danger"><%= (typeof errores!='undefined' && errores.pass)?errores.pass.msg : "" %></p>

              <div class="row">
                <div class="d-flex justify-content-center"><input type="checkbox" name="recordar" id="recordar" value="recordarme"></div>
                   
                <div class="d-flex justify-content-center"><label for="recordar">Recordarme</label> </div>          
              </div>
     
              <div>
                <button type="submit" class="btn btn-primary btn-login">Iniciar sesion</button>
              </div>
              
              <span id="msgError" class="text-danger" style="width: 75%;"><%= (typeof errores!='undefined' && errores.form)?errores.form.msg : "" %></span>

              <div>
                <a href="/users/registro">
                  ¿No estas registrado?
                </a>
              </div>

            </form>
            <% if (typeof error !='undefined' ) { %>
              <div class="alert alert-danger">
                <span>
                  <%= error %>
                </span>
              </div>

              <% } %>
          </div>
        </div>
      </div>
      <%- include('partials/footer.ejs') %>
      <script src="/javascripts/login.js"></script>
  </body>

</html>