<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>
       

        <div class="container usuario-box_img ">
            <div class="row">
                <h1 class="bienvenida-usuario">¡Bienvenido/a <%=usuario.nombre %>! </h1>
                <h1 class="perfil-usuario"> <i class="bi bi-person-fill"></i>Mi perfil  </h1>
            </div>
                 <div class="col-lg-8">
                    <section class="usuario-box row">
                        <section class="usuario-box_image col-lg-5 col-12"> 
                            <img class="img-usuario_perfil" src="/images/<%= usuario.avatar %> " alt="Avatar">
                        </section>

                <article class="perfil-box_datos col-lg-2 col-12">

                
                <div class="col-md-9  admin-content" id="profile">
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nombre</h3>
                        </div>
                        <div class="panel-body">
                            <span><%= usuario.nombre %>  </span>
                        </div>
                    </div>
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-email">Email</h3>
                        </div>
                        <div class="panel-body">
                            <span><%= usuario.email %>  </span>
                        </div>
                    </div>
                        
                </div>
       
    
                <div class="col-md-12  admin-content" id="change-password">
                    <form action="/password" method="post">
    
               
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><label for="new_password" class="control-label panel-title">Nueva contraseña</label></h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="password" id="new_password" >
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                 
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Confirmar contraseña</label></h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="password_confirmation" id="confirm_password" >
                                    </div>
                                </div>
                            </div>
                        </div>
    
               
                        <div class="panel panel-info border" style="margin:1em;">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="pull-left" >
                                        <input type="submit" class="btn btn-primary" name="submit" id="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </form>
                </div>
    
                <div class="col-md-9  admin-content" id="settings"></div>
    
                <div class="col-md-9  admin-content" id="logout">
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <a href="/users/logout"> <i class="bi bi-door-open-fill"></i> Cerrar sesion </a>
                        </article>

                        <article class=" product-box-other col-lg-5 col-12">
                            <div class="perfil-otros">
                                <div class="perfil-deseados">
                                    <a class="screen-reader-text skip-link" href="/productos/carrito"><i class="bi bi-heart"></i> Productos deseados</a>
                                </div>
                                <div class="perfil-carrito">
                                    <a class="screen-reader-text skip-link" href="#content"><i class="bi bi-cart"></i> Mi carrito</a>
                                </div>
                                <div class="perfil-metodos">
                                    <a class="screen-reader-text skip-link" href="#content"><i class="bi bi-credit-card-2-back"></i> Mis metodos de pago</a>
                                </div>
                                <div class="perfil-editar">
                                    <a class="screen-reader-text skip-link" href="#content"><i class="bi bi-pencil-square"></i>Editar datos personales</a>

                                </div>
                            </div>


                        </article>
                        </section>
                        </div>
                        
                    </div>
  
                    </div>
                </div>
            </div>
        </div>
    
           
                     

            <%- include('partials/footer.ejs') %>
    </body>

</html>
