<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

      <div class="container form">

        <div class="container ">

          <form class="container registro id=myDIV " id="form" action="" method="POST" enctype="multipart/form-data">
            <h1>Registro</h1>

            <div class="Crear">
              <h2>Crear cuenta</h2>
            </div>

            <div class="col-lg-10">
              <div class="form-floating mb-3">
                <div class="">
                  <input class="form-control form-control-lg" type="file" id="Foto_x" name="avatar">
                  <p id="errorFoto_x" class="text-danger">
                    <%= (typeof errores!='undefined' && errores.Foto_x)?errores.Foto_x.msg : null %>
                  </p>
                </div>
              </div>
            </div>

            <div class="Entradas">
              <div class="col-md-12 col-lg-10">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="Email" placeholder="Ingresa tu email" name="email"
                    value="<%= (typeof data!='undefined' && data.email)?data.email : null %>">
                  <p id="errorEmail" class="text-danger">
                    <%= (typeof errores!='undefined' && errores.email)?errores.email.msg : null %>
                  </p>
                  <label for="modelo">Ingresa tu email</label>
                </div>
              </div>

              <div class="col-md-12 col-lg-10">
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="Password" placeholder="Ingresa tu contrase単a"
                    name="password" value="">
                  <p id="errorPassword" class="text-danger">
                    <%= (typeof errores!='undefined' && errores.password)?errores.password.msg : null %>
                  </p>
                  <label for="modelo">Ingresa tu contrase単a</label>
                </div>
              </div>

              <div class="col-md-12 col-lg-10">
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="Password2" placeholder="Ingresa tu contrase単a"
                    name="pass2" value="">
                  <p id="errorPassword2" class="text-danger">
                    <%= (typeof errores!='undefined' && errores.pass2)?errores.pass2.msg : null %>
                  </p>
                  <label for="modelo">Repita la contrase単a</label>
                </div>
              </div>

              <br>
              <div class="datos">
                <h2>Datos personales</h2>
              </div>

              <div class="col-md-12 col-lg-10">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Name" placeholder="Nombre" name="name" value="<%= (typeof data!='undefined' && data.name)?data.name : null %>">
                    <p id="errorName" class="text-danger"><%= (typeof errores!='undefined' && errores.name)?errores.name.msg :null %></p>
                    <label for="modelo">Nombre</label>
                </div>
              </div>

              <div class="col-md-12 col-lg-10">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Last_name" placeholder="Apellido" name="last_name" value="<%= (typeof data!='undefined' && data.last_name)?data.last_name : null %>">
                    <p id="errorLast_name" class="text-danger"><%= (typeof errores!='undefined' && errores.last_name)?errores.last_name.msg : null %></p>
                    <label for="modelo">Apellido</label>
                </div>
              </div>
              <br><br>
            </div>

            <div class="button enviar">
              <button type="submit" class="btn btn-primary btn-lg ">Enviar</button>
            </div>
            <span id="msgError" class="text-danger" style="width: 75%;">
              <%= (typeof errores!='undefined' && errores.form)?errores.form.msg : "" %>
            </span>

            <% if (typeof error !='undefined' ) { %>
              <div class="alert alert-danger">
                <span>
                  <%= error %>
                </span>
              </div>

              <% } %>

          </form>

        </div>
      </div>
      <%- include('partials/footer.ejs') %>


        <script src="/javascripts/registro.js"></script>
  </body>

</html>