<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

      <div class="container">

        <div class="container form">

          <form class="container registro id=myDIV" id="form" action="" method="POST" enctype="multipart/form-data">
            <h1>Registro</h1>

            <div class="Crear">
              <h2>Crear cuenta</h2>
            </div>
            <div class="media">
              <div class="image"><img src="/images/Registro.png" alt="placeholder"></div>
              <div class="content"><input type="file" id="Foto_x" name="avatar"></div>
            </div>

            <!-- <div class="button guardar">
              <button type="button" class="btn btn-outline-primary reg"> Guardar</button>
            </div> -->
            <div class="Entradas">
              <input type="text" name="email" id="Email" value="<%= (typeof data!='undefined' && data.email)?data.email : null %>" placeholder="Ingresa tu email">
               
             <p id="errorEmail" class="text-danger"><%= (typeof errores!='undefined' && errores.email)?errores.email.msg : null %></p>

              <label for="pass"></label>
              <input type="password" name="password" id="Password" value="<%= (typeof data!='undefined' && data.pass)?data.pass : null %>" placeholder="Ingresa tu contraseña">
              
              <p id="errorPassword" class="text-danger"><%= (typeof errores!='undefined' && errores.password)?errores.password.msg : null %></p>

              <label for="pass"></label>
              <input type="password" name="pass2" id="Password2" value="<%= (typeof data!='undefined' && data.pass2)?data.pass2 : null %>" placeholder="Repetir contraseña">
             
              <p id="errorPassword2" class="text-danger"><%= (typeof errores!='undefined' && errores.pass2)?errores.pass2.msg : null %></p>


              <br>
              <div class="datos">
                <h2>Datos personales</h2>
              </div>

             
              <input type="text" name="name" id="Name" value="<%= (typeof data!='undefined' && data.nombre)?data.nombre : null %>"  id="name" placeholder="Nombre">
              <p id="errorName" class="text-danger" ><%= (typeof errores!='undefined' && errores.name)?errores.name.msg :null %></p>
           

              <label for="Apellido"></label>
              <input type="text" name="last_name" id="Last_name" value="<%= (typeof data!='undefined' && data.apellido)?data.apellido : null %>"  placeholder="Apellido">
              <p id="errorLast_name" class="text-danger" ><%= (typeof errores!='undefined' && errores.last_name)?errores.last_name.msg : null %></p>
              <br><br>

            </div>

            <div class="button enviar">
              <button type="submit" class="btn btn-primary btn-lg ">Enviar</button>
            </div>

            <% if (typeof error !='undefined' ) { %>
              <div class="alert alert-danger">
                <span>
                  <%= error %>
                </span>
              </div>

              <% } %>

          </form>

        </div>
      </div>
      <%- include('partials/footer.ejs') %>


      <script src="/javascripts/app.js"></script>
  </body>

</html>