<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

      <div class="container">

        <div class="container form">

          <form class="container registro id=myDIV" action="" method="POST">
            <h1>Registro</h1>

            <div class="Crear">
              <h2>Crear cuenta</h2>
            </div>
            <div class="media">
              <div class="image"><img src="/images/Registro.png" alt="placeholder"></div>
              <div class="content"><input type="file" id="foto_x" name="foto_x"></div>
            </div>

            <div class="button guardar">
              <button type="button" class="btn btn-outline-primary reg"> Guardar</button>
            </div>
            <div class="Entradas">
              <input type="text" name="email" id="email" value="<%= (typeof data!='undefined' && data.email)?data.email : "" %>" placeholder="Ingresa tu email">
              

              <p><%= (typeof errores!='undefined' && errores.email)?errores.email.msg : "" %></p>

              <label for="pass"></label>
              <input type="password" name="pass" id="contrase単a" value="<%= (typeof data!='undefined' && data.pass)?data.pass : "" %>" placeholder="Ingresa tu contrase単a">
              

              <p><%= (typeof errores!='undefined' && errores.pass)?errores.pass.msg : ""%></p>

              <label for="pass"></label>
              <input type="password" name="passrepeat" id="contrase単a" value="<%= (typeof data!='undefined' && data.passrepeat)?data.passrepeat : "" %>" placeholder="Repetir contrase単a">

              <p><%= (typeof errores!='undefined' && errores.passrepeat)?errores.passrepeat.msg : "" %></p>


              <br>
              <div class="datos">
                <h2>Datos personales</h2>
              </div>

              <input type="text" name="nombre" value="<%= (typeof data!='undefined' && data.nombre)?data.nombre : "" %>"  id="" placeholder="Nombre">
              <p><%= (typeof errores!='undefined' && errores.nombre)?errores.nombre.msg : "" %></p>

              <label for="Apellido"></label>
              <input type="text" name="apellido" id="" value="<%= (typeof data!='undefined' && data.apellido)?data.apellido : "" %>"  placeholder="Apellido">
              <p><%= (typeof errores!='undefined' && errores.apellido)?errores.apellido.msg : "" %></p>
              <br><br>

            </div>

            <div class="button enviar">
              <button type="submit" class="btn btn-primary btn-lg ">Enviar</button>
            </div>

            <% if (typeof error !='undefined' ) { %>
              <div class="alert alert-danger">
                <span>
                  <%= error %>
                </span>
              </div>

              <% } %>

          </form>

        </div>
      </div>
      <%- include('partials/footer.ejs') %>

  </body>

</html>