<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>


            <!---Detalle del producto-->


            <main>
                <div class="container product-box-img col-12">
                    <div class="row">
                        <h1 class="product-title-1 col-lg-12 col-12 "> Detalle del producto: <%= product.name %></h1>
                    </div>
                    <div class="col-12">
                        <section class="product-box row ">
                            <section class="product-box_image col-lg-6 col-12">
                                <img src="/images/<%- product.image %>" alt="">

                            </section>
                            <article class="title-2 col-lg-6 col-12">
                                <h2><%= product.name %></h2>
                                <p class="description col-12"><%-product.detail %> </p>
                                <div class="precios-detalle row">
                                    <div class=" col-8">
                                        <h3 class="precio-nuevo">$<%= product.price %></h3>
                                        <strike class="precio-tachado ">$11.650</strike>
                                        <span class="precio-descuento "><%= product.offer %>% off</span>
                                        <a class="btn btn-primary  " href="#" role="button">COMPRAR AHORA</a>
                                    </div>
                                    <div class="forma-pago col-4">
                                        <img src="/images/visa.png" width="70 " height="40">
                                        <img src="/images/mastercard.png" width="50 " height="30">
                                        <img src="/images/mercadopago.png" width="50 " height="30">
                                        <img src="/images/paypal.png" width="50 " height="30">
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </main>



            <main>
                <div class="container ">
                    <section class="row product-sim_box">
                        <section class="similar_1 col-lg-6 col-12">
                            <h2 class="product-title_sim">Productos similares</h2>
                            <% aleatorio.forEach(product => { %>
                             <div class="product-simi-1 row">
                                <div class="col-4">
                                    <img src="/images/<%= product.image %>" width="100" height="100">
                                </div>
                                <div class="col-8">
                                    <p><%= product.name %></p>
                                    <a class="btn btn-primary  " href="#" role="button">COMPRAR AHORA</a>
                                    <h3>$ <%= product.price %></h3>
                                </div>
                            </div>
                            <% }) %>
                        </section>

                        <article class="product-similar_2 col-lg-6 col-12">
                            <h2 class="product-title_sim-2">Quizás te interese</h2>
                            <% aleatorio2.forEach(product => { %>
                             <div class="product-simi-3 row">
                                <div class="col-4">
                                    <img src="/images/<%= product.image %>" width="100" height="100">
                                </div>

                                <div class="col-8">
                                    <p><%= product.name %></p>
                                    <a class="btn btn-primary  " href="#" role="button">COMPRAR AHORA</a>
                                    <h3>$ <%= product.price %></h3>
                                </div>
                            </div>
                            <% }) %>
                        </article>
                    </section>
                </div>
                


            </main>


            <%- include('partials/footer.ejs') %>
    </body>

</html>