<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <div class="container mt-1 mb-1">
                <form action="/admin/productos/actualizar/<%=producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="formulario">
                    <div class="carga-content">
                        <div class="titulo-carga col-12">
                            <h2 class="products-title-home">Editar Producto</h2>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-floating mb-3">
                                <div><img src="/images/<%=producto.image %>" alt="" style="width: 30%;"></div>
                                <div class="">
                                    <input class="form-control form-control-lg" type="file" id="formFile" name="img" value="">
                                    <span id="errorphotoProduct" class="text-danger"><%= (typeof errores!='undefined' && errores.image)?errores.image.msg : "" %></span>

                                </div>                 
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder="nombre" name="nombre" value="<%= producto.name %>">
                                <label for="modelo">Nombre del Producto</label>
                                <span id="errornameProduct" class="text-danger"><%= (typeof errores!='undefined' && errores.detalle)?errores.detalle.msg : "" %></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="detalle" placeholder="detalle" name="detalle" value="<%= producto.detail %>"
                                    style="height: 150px;">
                                <label for="modelo">Detalle del Producto</label>
                                <span id="errordetailProduct" class="text-danger"><%= (typeof errores!='undefined' && errores.detalle)?errores.detalle.msg : "" %></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="precio" placeholder="precio" name="precio" value="<%= producto.price %>">
                                <label for="modelo">Precio del Producto</label>
                                <span id="errorpriceProduct" class="text-danger"><%= (typeof errores!='undefined' && errores.precio)?errores.precio.msg : "" %></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="oferta" placeholder="oferta" name="oferta" value="<%= producto.offer %>">
                                <label for="modelo">Oferta del Producto</label>
                                <span id="errorofferProduct" class="text-danger"><%= (typeof errores!='undefined' && errores.oferta)?errores.oferta.msg : "" %></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-8">
                            <div class="form-floating mb-3">
                                <select name="categoria" id="categoria" class="form-select">
                                    <option disabled>Elige Categoría</option>
                                <% categorias.forEach(categoria => { %>
                                    <option value="<%=categoria.id%>" <%- categoria.id == producto.id_category ? 'selected' : '' %> > <%=categoria.name%> </option>
                                <% }) %>
                            </select>
                            <span id="errorcategoryProduct" class="text-danger"><%= (typeof errores!='undefined' && errores.categoria)?errores.categoria.msg : "" %></span>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-md-10 col-lg-8">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                        <br>
                        <span id="msgError" class="text-danger" style="width: 75%;"><%= (typeof errores!='undefined' && errores.form)?errores.form.msg : "" %></span>

                    </div>
                    
                </form>
                <% if (typeof error !='undefined' ) { %>
                    <div class="alert alert-danger">
                      <span>
                        <%= error %>
                      </span>
                    </div>
      
                    <% } %>
            </div>

            <%- include('partials/footer.ejs') %>
            <script src="/javascripts/editarProducto.js"></script>
    </body>

</html>